.main {
    background: url(glassdine.jpg);
    background-position: center;
    background-size: cover;
    height: 97vh;
    font-family: sans-serif;
    filter: brightness(1.2); /* 1 = normal, >1 = brighter */
    display: flex;
    margin-left: 0px;
}
.leftside{
    background: linear-gradient(135deg, rgb(168, 133, 104) 0%, rgb(79, 0, 46) 50%, rgb(39, 9, 9) 100%);
    height: 100%;
    width: 100px;;

}
.toptitle{
    margin-left: 0px;
    padding-top: 0px;
    color: aliceblue;
    font-family: cursive;
    font-weight: solid;
    font-size: 30px;
}
.LOGO {
    width: 10px;
    height: 5px;
    position: absolute;
    top: 11px;
    left: 145px;
    z-index: 10; 
    padding-left: 0px;
}
.LOGO img {
  width: 50px;
  height: 40px
}
.reserveform{
    width: 600px;
    height: 450px;
    background: transparent;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 120px;
    left: 320px;
    border: solid rgba(255, 0, 0, 0.153);
    border-radius: 10px;
 
}
.top{
    background: linear-gradient(135deg, rgb(168, 133, 104) 0%, rgb(79, 0, 46) 50%, rgb(39, 9, 9) 100%);
    height: 7%;
    width: 100%;
}

.confirm:hover{
  background-color: rgb(55, 1, 1);
}
.confirm:active{
  background-color: rgb(55, 1, 1);
  color: black;
  opacity: 0.4s ease;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  margin-top: 20px;
  padding: 15px;
  padding-left: 3px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  height: 4px;
  background-color: rgba(100, 89, 85, 0.645);
  color: aliceblue;
}
.confirm{
  background-color: rgb(89, 9, 9);
  cursor: pointer;
  color: aliceblue;
  border: none;
  border-color: brown;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 100px;
  margin-left: 250px;
  border-radius: 10px;

}