*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar{
    width: 1200%;
    height: 75px;
    margin: auto;  
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(11, 34, 11);
    font-size:  33px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float:left; 
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 25px;
    font-size: 12px;
}

ul li a{
    text-decoration: none;
    color:azure;
    font-family: Areal;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}

ul li a:hover{
    color:rgb(25, 45, 25);
}

.search{
    width: 300px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: "Times New Roman";
    width: 200px;
    height: 28px;
    background-color: transparent;
    border: 2px solid rgb(6, 78, 6);
    color: white;
    margin-top: 17px;
    border-right: none;
    font: 10px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 28px;
    background: rgb(6, 78, 6) ;
    border: 2px solid rgb(6, 78, 6);
    margin-top: 17px;
    color: azure;
    font-size: 12px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(183, 198, 198);
    position: relative;
    margin-left: 70px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    line-height: 25px;
    font-size: 15px;
}

.content h1{
    padding-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 50px;
    color:rgb(145, 234, 30);
    margin-top: 5%;
    padding-left: 2%;
    letter-spacing: 2px;
}

span{
    color:rgb(251, 255, 0);
    font-size:55px;

}

.form  {
    width: 280px;
    height: 380px;
    background: linear-gradient(to top, rgba(90, 208, 106, 0) 50%, rgba(90, 208, 106, 0) 50%);
    backdrop-filter: blur(5px);
    position: absolute;
    top: -20px;
    left: 685px;
    border-radius: 10px;
    padding: 25px;
    border: 2px solid #026511;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(145, 234, 30);   
    font-size: 22px;
    margin: 2px;
    padding: 8px;  
    padding-left: 35px;  

}

.form input{
    width: 250px;
    height: 15px;
    background: transparent;
    border-bottom:1px solid rgb(6, 78, 6) ;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 6px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: azure;
    padding-top: 24px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: rgba(96, 146, 72, 0.737);
    font-family: Arial;
}

.btnn{
    width: 100px;
    height: 30px;
    background:rgb(87, 137, 23) ;
    border: none;
    margin-top: 30px;
    font-size: 13px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.3 ease;
    margin-left: 91px;
}

.btnn:hover{
    background: rgb(11, 114, 16);
    color: rgb(43, 255, 39);
}

.btnn a{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color:rgb(14, 112, 5);

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: aliceblue;
}

.icons ion-icon{
    color:aliceblue;
    font-size: 27px;
    padding-left: 14px;
    padding-top: 15px;
    padding-left: 20px;
}

.icons ion-icon:hover{
    color:chartreuse; 
}